[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/gcem"]
	path = deps/gcem
	url = https://github.com/marcizhu/gcem.git
[submodule "gcem"]
	path = gcem
	url = https://github.com/marcizhu/gcem.git
